body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.box-centers {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.heading_link:hover {
  text-decoration: underline;
}
.header_buttons:hover {
  background-color: rgb(233, 233, 233);
}
.header_buttons {
  display: flex;
}
.issue-cont:hover {
  background-color: rgb(245, 245, 245);
}
.issue-title {
  cursor: pointer;
}
.issue-title:hover {
  color: #0969da;
}

.btnnext:hover {
  background-color: rgb(255, 22, 22);
}

.btnnumber {
  padding: 8px;
  margin: 10px;
  height: 30px;
  width: 30px;
  align-items: center;
  background: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.btnnumber:hover {
  background: rgb(71, 71, 242);
  color: white;
}

.btnprevious {
  padding: 8px;
  margin-left: 300px;
  cursor: pointer;
  align-items: center;
  background: transparent;
  border: none;
  color: blue;
  border-radius: 5px;
}
.btnprevious:hover {
  background: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(5, 81, 232);
}
.btnnext {
  padding: 8px;
 
  cursor: pointer;
  align-items: center;
  background: transparent;
  border: none;
  color: blue;
  border-radius: 5px;
}
.btnnext:hover {
  background: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(5, 81, 232);

}






@media (max-width: 1030px) {
  .issue-header {
    display: none;
    margin-right: 20px;
  }
}
